body {
	background-color: #fefefe
}

h1, h2, h3, body {
	font-family: 'Ultra', serif
}

h1 {
	font-size: 5em;
	text-align: center;
	padding-top: 15%;
}

ol > li:first-child {
  background-color: green
}
#home {
	background-image: url("../img/Gorge.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.red {
	color:red;
}

a {
    color: #f3843e;
}

#contact {
	background-image: url("../img/selfie.jpg");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: right;
  opacity: .8;
  /*width: 100%*/
 }

 #contact p {
 	padding-top: 13px;
 }
#contact form {
	padding-bottom: 10%;
}