body {
	background-color: #fefefe
}

h2, h3, body {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 22px
}

h1 {
	font-size: 3.5em;
	text-align: center;
	padding-top: 10%;
	margin-bottom: 0;
}

ol > li:first-child {
  background-color: green
}
#home {
	background-image: url("../img/bridge.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

#home h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#home p {
	font-size: 1.5em;
}
nav > ul > li {
	font-size: 1.2em;
	padding-bottom: 12px;
	list-style: none;
}

.red {
	color:#f3843e;
}

a {
    color: #f3843e;
}

a:visited {
	color:#90AA45;
}

a:hover {
	color:#fff;
}

#contact {
	background-image: url("../img/selfie.jpg");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: right;
  opacity: .8;
  /*width: 100%*/
 }

 #contact p {
 	padding-top: 13px;
 }
#contact form {
	padding-bottom: 8%;
}